<a href="https://colab.research.google.com/github/pkrish05/PythonBasics/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import random as rd
print(rd.randint(1, 5))

1

2

In [69]:
def KrishSort(L):
  for i in range(len(L)): # goes from 0 to len(L) - 1
    for j in range(0,i): # goes from 0 to i
      if L[j] > L[i]:
        L[i], L[j] = L[j], L[i]
  return L

L=[1, 7, 2, 9, 14, 3, 6, 5]
KrishSort(L)

[1, 7, 2, 9, 14, 3, 6, 5] j: 1 i: 2
[1, 2, 7, 9, 14, 3, 6, 5] j: 2 i: 5
[1, 2, 3, 9, 14, 7, 6, 5] j: 3 i: 5
[1, 2, 3, 7, 14, 9, 6, 5] j: 4 i: 5
[1, 2, 3, 7, 9, 14, 6, 5] j: 3 i: 6
[1, 2, 3, 6, 9, 14, 7, 5] j: 4 i: 6
[1, 2, 3, 6, 7, 14, 9, 5] j: 5 i: 6
[1, 2, 3, 6, 7, 9, 14, 5] j: 3 i: 7
[1, 2, 3, 5, 7, 9, 14, 6] j: 4 i: 7
[1, 2, 3, 5, 6, 9, 14, 7] j: 5 i: 7
[1, 2, 3, 5, 6, 7, 14, 9] j: 6 i: 7

[1, 2, 3, 5, 6, 7, 9, 14]

In [81]:
def InsertionSort(L):
  n=len(L)
  for i in range(1,n):
    x=L[i]
    j=i
    while j>0 and L[j-1]>x:
      L[j]=L[j-1]
      j=j-1
    L[j]=x
  return L
L=[1, 7, 2, 9, 14, 3, 6, 5,45,32,21,57,78,22,40,34,23,17,13,18,83,61]
InsertionSort(L)

[1,
 2,
 3,
 5,
 6,
 7,
 9,
 13,
 14,
 17,
 18,
 21,
 22,
 23,
 32,
 34,
 40,
 45,
 57,
 61,
 78,
 83]